header{
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 12;
}
.logo{
	float: left;
	width: 30%;
	line-height: 100px;
}
.logo a{
	text-decoration:none;
	font-size: 30px;
	font-family: bignoodletitling;
	color: #fff;
	letter-spacing: 5px;
	margin-left: 20px;
}
nav{
	float: right;
	line-height: 100px;
}
nav a{
	text-decoration: none;
	font-family: bignoodletitling;
	letter-spacing: 4px;
	font-size: 20px;
	margin:0 10px;
	color: #fff;
}

.main{
	width: 100%;
	height: 100vh;
	background-image: url(dam2.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.content{
	background-color:rgba(255,255,255,0.9);
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	position: -50;  
	width: 600px;
	font-size:25px;
	border-radius: 10px;
}

h1{
	width: 100%;
}
p{
	padding:0px;
	width: 500px;
	height: auto;
}